<!doctype html>
<html lang="en">

<!-- Head -->
<head th:replace="header :: header">
</head>
<body class="">

<!-- Navbar -->
<nav th:replace="navbar :: navbar">
</nav>
<!-- / Navbar-->

<section class="d-flex justify-content-center align-items-start vh-100 py-5 px-3 px-md-0">

    <div class="d-flex flex-column w-100 align-items-center">
        <div class="p-4 p-sm-5 col-lg-7 col-md-10 col-12 text-center px-4">
            <i class="ri-file-damage-fill ri-5x mb-3"></i>
            <h1 class="mb-4 display-5 fw-bold">문제가 발생하였습니다.</h1>
            <p class="lead text-muted">페이지가 존재하지 않거나, 유효하지 않은 접근입니다.</p>
            <a class="btn btn-dark mt-4" href="mainPage">메인 페이지로</a>
        </div>
    </div>

</section>


<!-- Theme JS -->
<!-- Vendor JS -->
<script src="/js/vendor.bundle.js"></script>

<!-- Theme JS -->
<script src="/js/theme.bundle.js"></script>
</body>

</html>